@charset "utf-8";

.top {
    overflow: hidden;
}
.top img {
    text-align:left;
    text-align:top;
    float:left;
}

.top p {
    text-align:right;
}

.main-style {
    text-align:center;
    color: #FF6600;
    float: left;
    padding: 0px 0px 10px 200px;
}

.rapper {

    overflow: hidden;
}
.box {
    overflow: hidden;
}
.float {
    float: left;
}
.box label{
    background: #FF6600;
    display: block;
    padding: 5px 100px 10px 5px;
    cursor: pointer;
    color: white;
}
#label a {
    text-decoration: none;
}
#label a:hover {
    text-decoration: none;
}
.float ol {
    background: #FF6600;
    color: white;
    text-align: left;
}
.box a {
    color: white;
    text-decoration: none;
}
.box a:hover {
    text-decoration: underline;
}
 
.box input[type="checkbox"].on-off,
.box input[type="checkbox"].on-off +div{
    display: none;
}
 
.box input[type="checkbox"].on-off:checked +div{
    display: block;
}
 
.box div{
    margin: 0 0 20px;
} 
.slide {
    position: relative;
    overflow: hidden;
    width: 600px;
    height: 350px;
    margin: 80px 30px 30px 30px;
    background: #fff;
    float: left;
}
.slide h2 a {
    color: #FF6600;
    text-decoration: none;
    }
.slide h2 a:hover {
    color: #FF9966;
    text-decoration: underline;
}
.slide div {
    border: solid 1px #000;
    display: block;
    position: absolute;
    width: inherit;
    height: inherit;
    left: 100%;
    animation: slideAnime 10s ease infinite;
}
.slide div img {
}
.slide div h2 {
    position: absolute;
    font-color: #FF6600;
    top: 0;
    left: 0;
    margin: 10px;
}
.slide div:nth-of-type(1) {animation-delay: 0s}
.slide div:nth-of-type(2) {animation-delay: 5s}

@keyframes slideAnime{
    0% {left: 100%}
    5% {left: 0}
    45%{left: 0}
    50%{left: -100%}
    100%{left: -100%}
}
.wraper {
    overflow: hidden;
}
.item {
    float: left;
    margin: 4px 0 4px 4px;
    padding: 8px;
    width: 200px;
}
.item h2{
    margin: 0.5em 0 0.5em 0;
    font-size: 16px;
    color: #FF6600
}
.item a {
    color: #FF6600;
    text-decoration: none;
}
.item a:hover {
    color: #FF9966;
    text-decoration: underline;
}
.item p {
    margin: 0;
    font-size: 14px;
    color: #666666;
}

/*サイバーセキュリティ科、ITスペシャリスト科*/

.second-top {
    overflow: hidden;
}
.float2 {
    float: left;
    margin: 0 0 0 20px;
    padding: 4px 100px 0px 20px;
    background-color: #8EB8FF;
    color: black;
}
.design strong {
    text-align: center;
    border: inset ;
    background: gray;
    color: white;
}
.design {
    float: right;
    font-size: 13px;
    display: inline-block;
    margin: 30px 180px 0px 0px;
    width: 230px;
    border: double;
}
.design img {
    position: absolute;
    top: 13em;
    right: 12em;
}
.line {
    line-height: normal;
    font-weight: normal;
}
.rapper {
    overflow: hidden;
}
.jobs {
    margin: 30px 20px 20px 20px;
    padding: 5px 0px 10px 20px;
    border: 1px solid #8EB8FF;
    width: 300px;
    border-radius: 7px;
    float:left;
}
.jobs h3 {
    color: #000099;
}
.feature ul {
    float: left;
}
.feature {
    display: inline-block;
    margin: 30px 20px 20px 50px;
    padding: 0px 30px 0px 20px;
    border: 1px solid #8EB8FF;
    border-radius: 7px;
}
.feature h3 {
    color: #000099;
}
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}
.plan th,
td {
    border: 1px solid #e3ecf5;
    padding: 8px;
}
.plan strong {
    vertical-align: top;
}
.plan th {
    border: 1px solid #e3ecf5;
    color: white;
    background: #1f8ef5;
}
.plan a:active {
    color: blue;
}
